# sepolia
ETH_RPC=
HOT_WALLET_PRIV=
ETH_CHAIN_ID=11155111
FROM_ADDRESS=
TO_ADDRESS=

# PostgreSQL DB config
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=
DB_SSLMODE=

# Redis config
REDIS_ADDR=localhost:6379
REDIS_PASS=redispass
REDIS_DB=0
